spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:order_db

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://service-registry-service:8761/eureka
  instance:
    hostname: localhost
